/* Globals */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

hr {
    width: 656px;
    height: 1px;
    background: var(--color-stone-150, #E3DDD7);
    border: none;
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: var(--stone-100);
    line-height: 1.5;
    font-size: 16px;
}

h1 {
    color: var(--color-stone-900, #312E2C);
    align-self: stretch;
    font-family: "Young Serif";
    font-size: var(--font-size-desktop-text-preset-1, 40px);
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 40px */
}

h2 {
    color: var(--color-brown-800, #854632);
    align-self: stretch;
    font-family: "Young Serif";
    font-size: var(--font-size-desktop-text-preset-2, 28px);
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 28px */
}

h3 {
    color: var(--color-rose-800, #7A284E);
    align-self: stretch;
    font-family: Outfit;
    font-size: var(--font-size-desktop-text-preset-3, 20px);
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 20px */
}

p {
    color: var(--color-stone-600, #5F564D);
    align-self: stretch;
    font-family: Outfit;
    font-size: var(--font-size-desktop-text-preset-4, 16px);
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */ 
}

/* Content */

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: var(--color-stone-100, #F3E5D7);
}

.card {
    background: var(--color-white, #FFF);
    padding: var(--spacing-500, 40px);
    border-radius: var(--spacing-300, 24px);
    max-width: 825px;
    margin: 5rem;
    width: 736px;
}

/* Header */

.top-image {
    border-radius: var(--spacing-150, 12px);
}

img { 
    max-width: 100%;
    border-radius: var(--spacing-150, 12px);
}

.title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-300, 24px);
    align-self: stretch;
    margin-top: 1.5rem;
}

/* Preparation */

.text-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-400, 32px);
    align-self: stretch;
    position: relative;
}

.preparation {
    display: flex;
    padding: var(--spacing-300, 24px);
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-200, 16px);
    align-self: stretch;
    border-radius: var(--spacing-150, 12px);
    background: var(--color-rose-50, #FFF7FB);
    margin-top: 1.5rem;
}

ul #prep-time {
    margin-left: 3rem;
    padding-bottom: 1.5rem;

}

li .prep-time {
    padding-left: 1rem;
    line-height: 1.8;
}

li {
    font-family: Outfit;
    font-size: var(--font-size-desktop-text-preset-4, 16px);
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    padding-left: 10px;
    color: var(--color-stone-600, #5F564D);
    margin: 8px;
}

li::marker {
    color: var(--color-brown-800, #854632);
}

/* Ingredients */

.ingredients {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-300, 24px);
    align-self: stretch;
}

ul #ingredients {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-100, 8px);
    align-self: stretch;
    list-style-position: inside;
}

li .ingredient {
    line-height: 1.8;
    padding-left: 1.1rem;
    display: flex;
    padding-left: var(--spacing-100, 8px);
    align-items: center;
    gap: var(--spacing-200, 16px);
    align-self: stretch;
}

/*Instructions*/

.instructions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-300, 24px);
    align-self: stretch;
}

ol {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-100, 8px);
    align-self: stretch;
    list-style-position: outside;
}

li .instruction {
    display: flex;
    padding-left: var(--spacing-100, 8px);
    align-items: flex-start;
    gap: var(--spacing-200, 16px);
    align-self: stretch;
}

/*Nutrition*/

.nutrition {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-300, 24px);
    align-self: stretch;
}


table {
    & {
      border-collapse: collapse;
      margin-top: 1.5rem;
      text-align: left;
      width: 100%;
    }
    
    & td {
      color: var(--color-brown-800, #854632);
      font-weight: 700;
    }

    & th {
      padding-left: 2rem;
      color: var(--color-stone-600, #5F564D);
      font-weight: 400;
      width: 51%;
    }

    :is(th, td) {
      tr:not(:first-of-type) & {
        padding-top: .75rem;
      }

      tr:not(:last-of-type) & {
        border-bottom: 1px solid var(--color-brown-800, #854632);
        padding-bottom: .75rem;
      }
    }
}

.attribution {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-stone-100, #F3E5D7);
}

